#tmdb {
  background-color: rgb(159, 4, 4);
  .tmdb {
    color: white;
    h1 {
      font-size: 150px;
      font-family: cursive;
      text-align: center;
    }
    h2 {
     margin-top: 360px;
      font-size: 45px;
      text-align: center;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      text-align: center;
      line-height: 20px;
    }
  }
}
