#persons {
  margin: 20px 0;
  .persons {
    display: flex;
    gap: 30px;
    img {
      width: 320px;
      height: 480px;
      border-radius: 10px;
      transition: 0.7s;
      cursor: pointer;
      &:hover {
        filter: blur(4px);
      }
    }
    &--profile {
      h3 {
        font-size: 30px;
        margin-top: 10px;
        width: 1050px;
        height: 60px;
        background-color: rgb(0, 157, 255);
        color: white;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        margin: 8px 0;
      }
      p {
        line-height: 21px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 5%;
        span {
          color: rgb(0, 110, 255);
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
  .persons-punkts {
    text-align: center;
    width: 1050px;
    height: 130px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    display: flex;
    gap: 30px;
    &__facts {
      margin-left: 20px;
      margin-top: 10px;
      h2 {
        font-size: 23px;
        color: black;
      }
      p {
        margin-top: 5px;
        font-size: 18px;
        color: black;
      }
    }
  }
}
@media (max-width: 1400px) {
  #persons .persons img {
    width: 306px;
    height: 456px;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 943px;
    height: 130px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 28px;
    margin-top: 10px;
    width: 943px;
    height: 60px;
  }
}
@media (max-width: 1280px) {
  #persons .persons img {
    width: 306px;
    height: 456px;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 833px;
    height: 130px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 28px;
    margin-top: 10px;
    width: 833px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  #persons .persons img {
    width: 290px;
    height: 436px;
  }
  #persons .persons--profile p {
    line-height: 20px;
    font-size: 16px;
    width: 600px;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 631px;
    height: 100px;
    gap: 0;
  }
  #persons .persons-punkts p {
    font-size: 14px;
    width: auto;
  }
  #persons .persons-punkts__facts h2 {
    font-size: 15px;
    color: black;
  }
  #persons .persons--profile h3 {
    font-size: 22px;
    margin-top: 10px;
    width: 631px;
    height: 50px;
  }
}
@media (max-width: 1024px) {
  #persons .persons img {
    width: 280px;
    height: 426px;
  }
  .persons h1 {
    font-size: 30px;
  }
  #persons .persons--profile p {
    line-height: 18px;
    font-size: 14px;
    width: 500px;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 531px;
    height: 80px;
    gap: 0;
  }

  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 12px;
    width: auto;
  }
  #persons .persons-punkts__facts h2 {
    font-size: 12px;
    color: black;
  }
  #persons .persons--profile h3 {
    font-size: 19px;
    margin-top: 10px;
    width: 531px;
    height: 50px;
  }
}
@media (max-width: 854px) {
  #persons .persons img {
    width: 271px;
    height: 402px;
  }
  .persons h1 {
    font-size: 28px;
  }
  #persons .persons--profile p {
    line-height: 18px;
    font-size: 14px;
    width: 420px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 10px;
    width: auto;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 451px;
    height: 97px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 17px;
    margin-top: 10px;
    width: 451px;
    height: 50px;
  }
}
@media (max-width: 820px) {
  #persons .persons img {
    width: 271px;
    height: 402px;
  }
  .persons h1 {
    font-size: 28px;
  }
  #persons .persons--profile p {
    line-height: 18px;
    font-size: 14px;
    width: 400px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 9px;
    width: auto;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 421px;
    height: 97px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 17px;
    margin-top: 10px;
    width: 421px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  #persons .persons img {
    width: 271px;
    height: 402px;
  }
  .persons h1 {
    font-size: 28px;
  }
  #persons .persons--profile p {
    line-height: 18px;
    font-size: 14px;
    width: 380px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 9px;
    width: auto;
  }
  #persons .persons-punkts {
    text-align: center;
    width: 401px;
    height: 97px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 17px;
    margin-top: 10px;
    width: 401px;
    height: 50px;
  }
}
@media (max-width: 541px) {
  #persons .persons {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  #persons .persons .persons-punkts {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 351px;
    height: 250px;
    gap: 0;
  }
  #persons .persons--profile {
    margin-left: 30px;
  }
  #persons .persons--profile h3 {
    font-size: 16px;
    margin-top: 10px;
    width: 352px;
    height: 43px;
  }
  #persons .persons--profile p {
    line-height: 16px;
    font-size: 12px;
    width: 300px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 13px;
    width: auto;
    margin-left: -25px;
  }
  #persons .persons-punkts__facts h2 {
    margin-left: -25px;
    font-size: 18px;
    color: black;
  }
  #persons .persons img {
    margin-left: 30px;
    width: 340px;
    height: 446px;
  }
}

@media (max-width: 431px) {
  #persons .persons {
    display: flex;
    flex-direction: column;
  }
  #persons .persons .persons-punkts {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 231px;
    height: 250px;
    gap: 0;
  }
  #persons .persons--profile {
    margin-left: 16px;
  }
  #persons .persons--profile h3 {
    font-size: 12px;
    margin-top: 10px;
    width: 231px;
    height: 40px;
  }
  #persons .persons--profile p {
    line-height: 16px;
    font-size: 12px;
    width: 300px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 13px;
    width: auto;
    margin-left: -15px;
  }
  #persons .persons-punkts__facts h2 {
    margin-left: -15px;
    font-size: 14px;
    color: black;
  }
  #persons .persons img {
    margin-left: 16px;
    width: 300px;
    height: 426px;
  }
}

@media (max-width: 376px) {
  #persons .persons {
    display: flex;
    flex-direction: column;
  }
  #persons .persons .persons-punkts {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 231px;
    height: 250px;
    gap: 0;
  }
  #persons .persons--profile {
    margin-left: 16px;
  }
  #persons .persons--profile h3 {
    font-size: 12px;
    margin-top: 10px;
    width: 231px;
    height: 40px;
  }
  #persons .persons--profile p {
    line-height: 16px;
    font-size: 12px;
    width: 300px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 13px;
    width: auto;
    margin-left: -15px;
  }
  #persons .persons-punkts__facts h2 {
    margin-left: -15px;
    font-size: 14px;
    color: black;
  }
  #persons .persons img {
    margin-left: 16px;
    width: 300px;
    height: 426px;
  }
}
@media (max-width: 345px) {
  #persons .persons {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }
  #persons .persons .persons-punkts {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 231px;
    height: 250px;
    gap: 0;
  }
  #persons .persons--profile h3 {
    font-size: 12px;
    margin-top: 10px;
    width: 231px;
    height: 40px;
  }
  #persons .persons--profile p {
    line-height: 16px;
    font-size: 12px;
    width: 300px;
  }
  #persons .persons-punkts p {
    margin-top: -5px;
    font-size: 13px;
    width: auto;
    margin-left: -15px;
  }
  #persons .persons-punkts__facts h2 {
    margin-left: -15px;
    font-size: 14px;
    color: black;
  }
  #persons .persons img {
    width: 300px;
    height: 426px;
  }
}
