#home {
  padding: 70px 0;
  margin-top: 20px;
  #home1 {
    padding: 40px 0;
  }
  .home3 {
    display: flex;
    margin: 20px 0;
    overflow-x: auto;
    gap: 20px;
    white-space: nowrap;
  }
  .home--div1 {
    h1 {
      color: white;
      font-size: 43px;
      span {
        font-size: 32px;
      }
    }
    &__btn {
      position: relative;
      display: flex;
      margin-top: 30px;
      gap: 10px;
      input {
        padding: 14px 540px;
        border: 3px solid paleturquoise;
        border-radius: 24px;
        &::placeholder {
          font-size: 15px;
          font-weight: 500;
          color: black;
        }
      }
      button {
        border: none;
        right: 20px;
        position: absolute;
        border-radius: 24px;
        padding: 13px 23px;
        background-color: #12e4b0f7;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        color: white;
        transition: 1s;
        &:hover {
          color: black;
        }
      }
    }
  }
}
@media (max-width: 1281px) {
  #home .home--div1__btn input {
    padding: 13px 483px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
}
@media (max-width: 1024px) {
  #home .home--div1__btn input {
    padding: 14px 382px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -11px;
    position: absolute;
    border-radius: 24px;
    padding: 14px 25px;
  }
}
@media (max-width: 854px) {
  #home .home--div1__btn input {
    padding: 14px 300px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
}
@media (max-width: 821px) {
  #home .home--div1__btn input {
    padding: 14px 292px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
}
@media (max-width: 768px) {
  #home .home--div1 h1 {
    color: white;
    font-size: 38px;
  }
  #home .home--div1 h1 span {
    font-size: 29px;
  }
  #home .home--div1__btn input {
    padding: 11px 270px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -16px;
    position: absolute;
    border-radius: 24px;
    padding: 12px 23px;
    font-size: 15px;
  }
}

@media (max-width: 541px) {
  #home .home--div1 h1 span {
    font-size: 27px;
  }
  #home .home--div1__btn input {
    padding: 11px 167px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
}

@media (max-width: 480px) {
  #home .home--div1 h1 {
    color: white;
    font-size: 31px;
  }
  #home .home--div1 h1 span {
    font-size: 21px;
  }
  #home .home--div1__btn input {
    padding: 8px 134px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -10px;
    position: absolute;
    border-radius: 24px;
    padding: 12px 23px;
    font-size: 12px;
  }
}
@media (max-width: 431px) {
  #home .home--div1__btn input {
    padding: 8px 116px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -10px;
    position: absolute;
    border-radius: 24px;
    padding: 11px 21px;
    font-size: 12px;
  }
}
@media (max-width: 415px) {
  #home .home--div1 h1 span {
    font-size: 22px;
  }
  #home .home--div1__btn input {
    padding: 8px 109px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -10px;
    position: absolute;
    border-radius: 24px;
    padding: 11px 21px;
    font-size: 12px;
  }
}

@media (max-width: 413px) {
  #home .home--div1__btn button {
    border: none;
    right: -12px;
    position: absolute;
    border-radius: 24px;
    padding: 11px 21px;
    font-size: 12px;
  }
}

@media (max-width: 391px) {
  #home .home--div1__btn input {
    padding: 8px 98px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -13px;
    position: absolute;
    border-radius: 24px;
    padding: 11px 18px;
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  #home .home--div1__btn input {
    padding: 6px 85px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -14px;
    position: absolute;
    border-radius: 24px;
    padding: 9px 18px;
    font-size: 12px;
  }
}
@media (max-width: 361px) {
  #home .home--div1 h1 {
    color: white;
    font-size: 29px;
  }
  #home .home--div1 h1 span {
    font-size: 19px;
  }
  #home .home--div1__btn input {
    padding: 8px 85px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
}

@media (max-width: 345px) {
  #home .home--div1__btn input {
    padding: 7px 78px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -15px;
    position: absolute;
    border-radius: 24px;
    padding: 11px 16px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  #home .home--div1 h1 {
    color: white;
    font-size: 25px;
  }
  #home .home--div1 h1 span {
    font-size: 18px;
  }
  #home .home--div1__btn input {
    padding: 7px 63px;
    border: 3px solid paleturquoise;
    border-radius: 24px;
  }
  #home .home--div1__btn button {
    border: none;
    right: -12px;
    position: absolute;
    border-radius: 24px;
    padding: 12px 17px;
    font-size: 11px;
  }
}
