#businnes {
  background-color: rgba(37, 123, 181, 0.997);
  min-height: 100vh;
  .businnes {
    h3 {
      color: aqua;
      margin-top: 40px;
    }
    h1 {
      color: white;
      font-size: 60px;
      font-weight: 700;
      margin-top: 20px;
    }
    p {
      font-size: 27px;
      font-weight: 700;
      color: white;
      margin-top: 70px;
      span {
        color: rgb(5, 237, 254);
      }
    }
    button {
      padding: 13px 23px;
      font-weight: 700;
      cursor: pointer;
      background-color: aqua;
      border: none;
      border-radius: 20px;
      transition: 0.8s;
      margin-top: 14px;
      &:hover {
        background-color: rgb(4, 179, 179);
      }
    }
    h2 {
      margin: 90px 0;
      color: aqua;
      font-size: 30px;
    }
    .texts {
      margin: 50px 0;
      display: flex;
      gap: 40px;
      .text {
        p {
          font-size: 23px;
          font-weight: 700;
          color: white;
          margin-top: 20px;
          span {
            color: aquamarine;
          }
        }
      }
    }
    .images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        margin: 50px 0;
        img{
            width: 220px;
        }
    }
  }
}
